.header {
    background-color: black;
    width: 100vw;
}

.linkTextPrimary {
    color: rgb(203, 246, 79);
}

.linkTextPrimary :hover {
    color: rgb(203, 246, 79);
}

.homeLink {
    font-size: x-large;
}