.header {
    background-color: rgb(0, 0, 0) !important;
}

.linkTextPrimary {
    color: rgb(200, 255, 80);
}

.linkTextPrimary :hover {
    color: rgb(200, 255, 80);
}

.homeLink {
    font-size: x-large;
}